In [1]:

# tuple - store data in a collection
# immutable
t1 = (1,2,3)
t1

(1, 2, 3)

In [2]:
t1[1]

2

In [3]:
t1[1] = 5

TypeError: 'tuple' object does not support item assignment

In [4]:
l1 = [1,2,3]
l1[1] = 6
l1

[1, 6, 3]

In [5]:
# set (m√§ngd)
{1,2,1,1,1,1}

{1, 2}

In [6]:
[i for i in range(5)]

[0, 1, 2, 3, 4]

In [7]:
(i for i in range(5))

In [8]:
tuple(i for i in range(5))

(0, 1, 2, 3, 4)

In [10]:
text = "(23,24)"

data = eval(text)
data

(23, 24)

In [13]:
data[0]

23

In [14]:
list_2d = [[20,23], [22,10], [15,15]]

In [15]:
list_2d

[[20, 23], [22, 10], [15, 15]]

In [16]:
list_2d[0]

[20, 23]

In [17]:
raw = "(23,24)\n(20,20)\n(10,15)"
print(raw)

(23,24)
(20,20)
(10,15)

In [22]:
# list comprehension
data = [eval(coordinate) for coordinate in raw.split("\n")]
data

[(23, 24), (20, 20), (10, 15)]

In [25]:
data = []
for coordinate in raw.split("\n"):
    data.append(eval(coordinate))

data

[(23, 24), (20, 20), (10, 15)]

In [26]:
raw = "(12,32)"
data = eval(raw)
data

(12, 32)

In [28]:
data[0]

12