# Code alongs - Pandas

In [4]:
import pandas as pd 

# dict
data = {"INKÖP": 25, "OPA":29, "JS":27}

series = pd.Series(data)

series

INKÖP    25
OPA      29
JS       27
dtype: int64

In [6]:
# indexing using iloc
series.iloc[0], series.iloc[-1]

(25, 27)

In [8]:
series.keys()

Index(['INKÖP', 'OPA', 'JS'], dtype='object')

In [9]:
series["OPA"]

29

## DataFrames

In [10]:
# df for dataframe
df_programs = pd.DataFrame(series, columns=["Number students"])
df_programs

       Number students
INKÖP               25
OPA                 29
JS                  27

In [11]:
df_programs["Number students"]

INKÖP    25
OPA      29
JS       27
Name: Number students, dtype: int64

In [14]:
df_programs = pd.DataFrame(
    {"Students": [25, 30, 30, 27], "Language": ["Python", "C#", "Kotlin", "Java"]},
    index=["AI", ".NET", "APP", "Java"],
)

df_programs

      Students Language
AI          25   Python
.NET        30       C#
APP         30   Kotlin
Java        27     Java