# Code alongs - Pandas

In [4]:
import pandas as pd 

# dict
data = {"INKÖP": 25, "OPA":29, "JS":27}

series = pd.Series(data)

series

INKÖP    25
OPA      29
JS       27
dtype: int64

In [6]:
# indexing using iloc
series.iloc[0], series.iloc[-1]

(25, 27)

In [8]:
series.keys()

Index(['INKÖP', 'OPA', 'JS'], dtype='object')

In [9]:
series["OPA"]

29

## DataFrames

In [10]:
# df for dataframe
df_programs = pd.DataFrame(series, columns=["Number students"])
df_programs

       Number students
INKÖP               25
OPA                 29
JS                  27

In [11]:
df_programs["Number students"]

INKÖP    25
OPA      29
JS       27
Name: Number students, dtype: int64

In [14]:
df_programs = pd.DataFrame(
    {"Students": [25, 30, 30, 27], "Language": ["Python", "C#", "Kotlin", "Java"]},
    index=["AI", ".NET", "APP", "Java"],
)

df_programs

      Students Language
AI          25   Python
.NET        30       C#
APP         30   Kotlin
Java        27     Java

In [15]:
df_programs.index

Index(['AI', '.NET', 'APP', 'Java'], dtype='object')

In [16]:
df_programs["Language"]

AI      Python
.NET        C#
APP     Kotlin
Java      Java
Name: Language, dtype: object

In [17]:
df_programs["Students"]

AI      25
.NET    30
APP     30
Java    27
Name: Students, dtype: int64

In [19]:
df_programs["Language"][".NET"]

'C#'

### Filtering with mask

In [21]:
# find all programs with less than 28 students
# mask -> boolean series
df_programs["Students"] < 28

AI       True
.NET    False
APP     False
Java     True
Name: Students, dtype: bool

In [22]:
df_programs[df_programs["Students"] < 28]

      Students Language
AI          25   Python
Java        27     Java

## Read from excel

In [24]:
pd.read_excel("../data/data_processing/calories.xlsx")

,FoodCategory,FoodItem,per100grams,Cals_per100grams,KJ_per100grams
0,CannedFruit,Applesauce,100g,62 cal,260 kJ
1,CannedFruit,Canned Apricots,100g,48 cal,202 kJ
2,CannedFruit,Canned Blackberries,100g,92 cal,386 kJ
3,CannedFruit,Canned Blueberries,100g,88 cal,370 kJ
4,CannedFruit,Canned Cherries,100g,54 cal,227 kJ
...,...,...,...,...,...
2220,Spreads,Sunflower Butter,100g,617 cal,2591 kJ
2221,Spreads,Tapenade,100g,233 cal,979 kJ
2222,Spreads,Unsalted Butter,100g,717 cal,3011 kJ
2223,Spreads,Vegemite,100g,180 cal,756 kJ
2224,Spreads,Wild Honey,100g,286 cal,1201 kJ